@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$primary: #ff6d00;
$primary-invert: findColorInvert($primary);
$colors: (
  'primary': (
    $primary,
    $primary-invert
  )
);

$secondary: #cbe896;

$pagination-focus-border-color: $primary;
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;
