@import './variables';

@import '~bulma';

@import './pagination';

body {
  background-color: #fff7ea;
}

.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}

.title {
  a {
    color: #4a4a4a;
    &:hover {
      color: $primary;
    }
  }
}

.hero.is-primary .subtitle {
  a {
    &:not(.button) {
      color: #2a2d34;
    }
  }
}

.comment-section {
  width: 100%;
}

.comment-wrapper {
  margin-left: 10px;
  padding: 10px;
  border-left: 3px solid $primary;
}

.single-comment {
  .comment-info {
    padding: 5px;
    background-color: rgb(255, 244, 197);
  }
}
